<div
  class="hero min-h-screen"
  style="
    background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  "
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold text-gray-300">
        Aplicación de países
      </h1>
      <p class="mb-5 ext-gray-300">Curiosea sobre el país que te interese</p>
      <button
        routerLink="/country"
        class="btn text-black font-bold bg-orange-500"
      >
        Empezar
      </button>
    </div>
  </div>
</div>
