<!-- <app-region-buttons /> -->

<h1 class="text-2xl">Por región</h1>
<h3 class="text-lg">Seleccione una región</h3>

<section class="row mt-2">
  <div class="flex-col">
    @for (region of regions; track region) {
    <button
      class="btn btn-outline mr-2 w-[100] rounded-xl"
      (click)="selectRegion(region)"
      [class.border-orange-500]="selectedRegion() === region"
    >
      {{ region }}
    </button>
    }
  </div>
</section>

<country-list
  [countries]="countryResource.value() ?? []"
  [errorMessage]="countryResource.error()"
  [isEmpty]="countryResource.value()?.length === 0"
  [isLoadingg]="countryResource.isLoading()"
/>
